body{
    background-color: brown;

}
@font-face {
    font-family: myFirstFont;
    src: url(/fonts/Poppins/Poppins-Black.ttf);
  }
h1{
    background-color: aquamarine;
   font-family: myFirstFont ;
}
img{
    src: url(/images/gift.gif);
    width: 200px;
    height: 200px;
}
@media screen and (min-width: 600px) {
    body {
      background-color: lightgreen;
    }
  }

  